@media only screen and (max-width: 600px) {
    .banner_m h1 {
        font-size: 70px;
        }
    

    .home_back{
        padding-left:0%;
        padding-right: 0%;
        padding-top: 1%;
    }

    .banner_split{
        flex-direction: column-reverse;
    }

    .team_container{
        flex-direction: column;
    }

    .slider_main{
        flex-direction: column;
    }

    .image_split{
        width: 100%;
    }


    .ba_one{
        flex-direction: column-reverse;
    }

    .ba_two{
        flex-direction: column;
    }

    .about_title{
        padding: 0px;
    }

    .about_btn{
        margin: 0px;
    }

    .header_menu li{
        padding-left: 0px;
    }

    .list {
        flex-direction: column;
        height: auto;
        display: flex;
        width: 100%;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        text-align: center;
        background-color: white;
        width: 100%;
    }
    .btn {
        display: block;
    }

    .banner_back{
        background-color: #004BFF;
        background-image: url('./assets/bannerimage.png');
        background-repeat: no-repeat;
        background-size: 55%;
        background-position: center;
        height: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }


}
